ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -40px;
    flex-wrap: wrap;
}

li {
    font-size: 1.5em;
    padding: 5px;
    margin: 5px;
    border: 1px solid darkgreen;
}
