html {
  background-color: slategray;
}

main {
  max-width: 100%;
  padding: 10px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.gameForm {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  color: white;
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
}

.mainArea {
  background-color: lightblue;
}

.result {
  background-color: crimson;
  padding: 10px;
  font-size: 2em;
  color: white;
}

.guessForm {
  padding: 10px;
  display: block;
}

.guesses {
  background-color: lightgreen;
  padding: 10px;
}



