button {
    transition: color 1s, font-size 2s;
    -webkit-transition: color 1s, font-size 2s;
    -moz-transition: color 1s, font-size 2s;
    -o-transition: color 1s, font-size 2s;
}

.highlightNewGame {
    color: red;
    font-size: 150%;
}

